.posts-detail-container {
  margin: 50px auto;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-direction: column;
}

.posts-detail-title {
  font-size: 24px;
  font-weight: bold;
}

.posts-detail-box {
  display: inline;
}

.posts-detail-author {
  font-size: 16px;
  color: #888;
  margin-bottom: 10px;
}

.posts-detail-date {
  font-size: 16px;
  color: #888;
}

.posts-detail-content {
  margin-bottom: 20px;
}

.edit-delete-buttons {
  display: flex;
  margin-left: auto; /* 버튼을 오른쪽으로 이동시킴 */
  /* margin-top: 16px; 버튼과 위쪽 여백 조절 */
  gap: 8px; /* 버튼 사이의 간격 */
  align-items: center; /* 버튼을 수직으로 중앙 정렬 */
}

.edit-delete-buttons button {
  background-color: #f2f2f2;
  border: none;
  color: rgb(92, 92, 92);
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-delete-buttons button:hover {
  background-color: rgb(92, 92, 92); /* 호버 시 배경색 변경 */
  color: #f2f2f2;
}
